# DATABASE SETTINGS
DATABASE_URL=your-db-url

# OpenAI API
OPENAI_API_KEY=your-openai-api-key
OPENAI_MODEL_VERSION=gpt-5.5

# Anthropic API
ANTHROPIC_API_KEY=your-anthropic-api-key
ANTHROPIC_MODEL_VERSION=claude-opus-4.7

# Gemini API
GEMINI_API_KEY=your-gemini-api-key
GEMINI_MODEL_VERSIOIN=gemini-3.5-flash
